<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desky - Panel</title>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/proxmox.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <style>
        body {background-image: url("/static/images/{{.Background}}");}
    </style>
</head>
<body>
    <header>
        <div class="header">
            <H1>
                <i class="fa fa-server" aria-hidden="true"></i>
                {{.Host}}
            </H1>
            <ul>
                <li>
                    <a href="/dashboard/panel">
                        <img width="15px" height="15px" src="/static/images/web-icons/shell.svg">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/dashboard/docker">
                        <img width="15px" height="15px" src="/static/images/web-icons/docker.svg">
                        Docker
                    </a>
                </li>
                <li>
                    <a href="/dashboard/proxmox">
                        <img width="15px" height="15px" src="/static/images/web-icons/proxmox.svg">
                        Proxmox
                    </a>
                </li>
                <li id="logout"><a href="/logout">Log Out</a></li>
            </ul> 
        </div>
    </header>
    <main>
        <div class="virt">
                {{ range .LXCs }}
                <div class="container">
                    <img style="height: 100px; width: 100px;" src="/static/images/web-icons/lxc.svg" alt="">
                    <div class="ct-data">
                        <table>
                            <tr>
                                <th>Name</th>
                                <td> {{ .Name }}</td>
                            </tr>
                            <tr>
                                <th>VMID</th>
                                <td> {{ .VMID }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                {{ if eq .Status "running" }}
                                    <td style="color: greenyellow;"> {{ .Status }}</td>
                                {{ else }}
                                    <td style="color: rgb(255, 47, 47);"> {{ .Status }}</td>
                                {{ end }}
                            </tr>
                        </table> 
                    </div>
                </div>
                {{ end }}
                {{ range .VMs }}
                <div class="container">
                    <img style="height: 100px; width: 100px;" src="/static/images/web-icons/vm.svg" alt="">
                    <div class="ct-data">
                        <table>
                            <tr>
                                <th>Name</th>
                                <td> {{ .Name }}</td>
                            </tr>
                            <tr>
                                <th>VMID</th>
                                <td> {{ .VMID }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                {{ if eq .Status "running" }}
                                    <td style="color: greenyellow;"> {{ .Status }}</td>
                                {{ else }}
                                    <td style="color: rgb(255, 47, 47);"> {{ .Status }}</td>
                                {{ end }}
                            </tr>
                        </table> 
                    </div>
                </div>
            {{ end }}
        </div>
    </main>
    <footer>
        <div class="footer">
            Desky
        </div>
    </footer>
</body>
</html>