/* ---------------------Main site----------------------- */
.padding {
    border-radius:  0px 0px 10px;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.main {
    width: 550px;
    padding: 4px;
    display: flex;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--ui-black-color-70);
}

.main-in {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow: scroll;
    margin: 0px auto ;
}

.app {
    margin: 8px;
}

.main a {
    text-decoration: none;
}

.sys-info {
    display: flex;
    border-radius: 10px;
    overflow: scroll;
    overflow: hidden;
    width: 280px;
    min-width: 300px;
    margin: 10px;
    background-color: var(--ui-black-color-70);
    padding: 15px;
}

.sys-info-sub {
    margin: 2px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.device {
    border-radius: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 15px;
    height: auto;
    margin: 10px auto;
    background-color: var(--addition-60);
    color: var(--ui-black-color);
    flex-direction: column;
}

.metric-type {
    font-size: 2em;
    font-weight: 500;
}

.load-data {
    font-size: 3em;
    font-weight: 700;
}

.paltform {
    border-radius: 15px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    width: 250px;
    margin: 10px auto;
    padding: 5px;
    background-color: var(--addition-60);
    color: var(--ui-black-color);
    text-align: center;
}

.percent-load {
    font-size: 5em;
}

.app {
    background-color: var(--addition-40);
    width: 150px;
    height: 150px;
    padding-top: 5px;
    border-radius: 20px 0px;
    transition: 0.2s ease-in-out transform;
}

.app ::content {
    margin: 15px;
}

.app:hover {
    transform: scale(1.05)
}

.app img {
    display: flex;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.app-name {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    color: antiquewhite;
    margin: auto;
    background-color: var(--ui-black-color-60);
}