/* ---------------------Main site----------------------- */
.padding {
    background-color: rgba(161, 161, 161, 0.5);
    border-radius: 10px 0px 0px 10px;
    padding: 5px;
    height: 80%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}

.container {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: start;
}

.container * {
    vertical-align: middle;
}

.container th {
    border-radius: 5px;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.76);
    margin: 5px;
    text-align: left;
}
.container th {
    margin-left: 5px;
}
.container tr{
    padding: 2px;
}

.container tr :hover {
    background-color: rgba(240, 248, 255, 0.4);
    border-radius: 5px;
}

.ct-data {
    border-radius: 10px;
    flex-direction: row;
    padding: 5px;
    margin-left: 5px;
    background-color: rgba(240, 248, 255, 0.6);
}