/* ---------------------Main site----------------------- */
.padding {
    background-color: var(--addition-20);
    border-radius: 10px 0px 0px 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.padding-sub {
    margin: 8px;
    overflow: scroll;
    border-radius: 10px;
}

.container {
    border-radius: 15px;
    background-color: var(--ui-black-color-70);
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: start;
}

.container * {
    vertical-align: middle;
}

.container th {
    border-radius: 5px;
    padding: 5px;
    background-color:var(--purple-change);
    margin: 5px;
    text-align: left;
    margin-left: 5px;
}

.container tr{
    padding: 2px;
}

.container tr :hover {
    background-color: var(--purple-change-action);
    border-radius: 5px;
}

.ct-data {
    border-radius: 10px;
    flex-direction: row;
    padding: 5px;
    margin-left: 5px;
    background-color: var(--addition-60);
}