/* ---------------------Main site----------------------- */

.padding {
    gap: 5px;
    width: 80%;
    height: 80%;
    padding: 4px;
    display: flex;
    border-radius: 10px;
    background-color: var(--ui-black-color-60);
}

#systemd {
    width: 25%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--addition-40);
}

#system {
    width: 35%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--addition-40);
}

.scroll {
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

#disks {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--addition-40);
}

.disk {
    border-radius: 4px;
    padding: 2px;
    margin: 10px;
    background-color: var(--text-white-transparment);
}

.disk .model {
    border-radius: 4px;
    margin: 5px;
    padding: 2px;
    color: var(--text-white);
    background-color: var(--ui-black-color);
}

.model span {
    color: rgb(0, 255, 255);
}

.disk .model a {
    color: var(--text-white);
}

.disk .serial {
    margin-left: 5px;
}

.disk .size {
    margin: 5px;
    padding: 5px;
    width: fit-content;
    background-color:rgba(131, 131, 131, 0.493);
    border-radius: 6px;
    font-size: 1.5em;
}

.module {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: var(--ui-black-color-60);
    height: fit-content;
}

#cpu-freq {
    color: antiquewhite;
    padding: 2px;
}

.module-title {
    text-align: center;
    background-color: var(--text-white);
    padding: 2px;
    border-radius: 5px;
}

#cpu-cores, #mem-param {
    margin-top: 4px;
    display: flex;
    width: 100%;
    gap: 5px;
}

#cpu-cores div, #mem-param div {
    border-radius: 4px;
    font-size: 1.4em;
    padding: 3px;
    background-color: var(--addition-80);
    text-align: center;
    width: 45%;
}

.module-data {
    padding: 0px 5px;
    color: var(--text-white);
    border-radius: 4px;
    background-color: var(--addition-20);
    margin: 2px;
}

.module-data a {
    color: var(--text-white);
    text-decoration: none;
}
.disk-data {
    padding: 0px 5px;
    color: var(--ui-black-color-70);
    border-radius: 4px;
    background-color: var(--grey-20);
    margin: 2px;
}

.unit {
    border-radius: 5px;
    color: var(--text-white);
    padding: 2px;
    margin: 4px;
    background-color: var(--ui-black-color-45);
}

.unit div {
    border-radius: 5px;
    text-align: center;
    background-color: var(--text-white);
}