/* ---------------------Main site----------------------- */

.padding {
    gap: 5px;
    width: 80%;
    height: 80%;
    padding: 4px;
    display: flex;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#systemd {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

#system {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.scroll {
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

#disks {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.disk {
    border-radius: 4px;
    padding: 2px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.disk .model {
    border-radius: 4px;
    margin: 5px;
    padding: 2px;
    color: aliceblue;
    background-color: black;
}

.disk .model a {
    color: aliceblue;
}

.disk .serial {
    margin-left: 5px;
}

.disk .size {
    margin: 5px;
    padding: 5px;
    width: fit-content;
    background-color:rgba(131, 131, 131, 0.493);
    border-radius: 6px;
    font-size: 1.5em;
}

.module {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    height: fit-content;
}

#cpu-freq {
    color: antiquewhite;
    padding: 2px;
}

.module-title {
    text-align: center;
    background-color: azure;
    padding: 2px;
    border-radius: 5px;
}

#cpu-cores, #mem-param {
    margin-top: 4px;
    display: flex;
    width: 100%;
    gap: 5px;
}

#cpu-cores div, #mem-param div {
    border-radius: 4px;
    font-size: 1.4em;
    padding: 3px;
    background-color: rgba(226, 226, 226, 0.801);
    text-align: center;
    width: 45%;
}

.bios-data {
    padding: 0px 5px;
    color: azure;
    border-radius: 4px;
    background-color: rgba(240, 255, 255, 0.199);
    margin: 2px;
}

.unit {
    border-radius: 5px;
    color: aliceblue;
    padding: 2px;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.555);
}

.unit div {
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
}