/* ---------------------Main site----------------------- */
.virt {
    display: flex;
    overflow: scroll;
    border-radius: 10px;
    flex-direction: row;
    background-color: rgba(161, 161, 161, 0.5);
    
}

.container {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
}

.container img {
    margin: auto;
}

.container th {
    border-radius: 5px;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.76);
    margin: 5px;
    text-align: left;
}
.container th {
    margin-left: 5px;
}

.ct-data {
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(240, 248, 255, 0.6);
}

.reboot-btn {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 30px;
    border-radius: 15px;
}

.act-btn {
    border-radius: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 30px;
}

.btns {
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(89, 80, 172, 0.6);
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: 5px;
}

.btns button {
    text-align: center;
    padding-top: 5px;
    vertical-align: middle;
}