{{ define "main" }}
    <main>
        <div class="padding">
            <div class="sys-info">
                <div class="sys-info-sub">
                    <div class="device">
                        <div class="load-data" id="cpu-usage">0%</div>
                        <div class="metric-type">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            |CPU|
                        </div>
                        <progress id="cpu-progress" max="100" value=""></progress>
                    </div>
                    <div class="device">
                        <div class="load-data" id="mem-usage">0%</div>
                        <div class="metric-type">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            |RAM|
                        </div>
                        <progress id="mem-progress" max="100" value=""></progress>
                    </div>
                    <div class="paltform">
                        Board:{{.Board}}
                        <br>
                        CPU:{{.Cpu}}
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="main-in">
                    {{ range .Apps }}
                    <a href="{{ .Url }}">
                        <div class="app">
                            <img style="width: 90px; height: 90px;" src="/static/images/web-icons/{{ .Icon }}.svg" alt="">
                            <div class="app-name">
                                {{ .Name }}
                            </div>
                        </div>
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </main>
    <script src="/static/scripts/dashboard.js"></script> 
{{ end }}

{{ define "styles" }}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/dashboard.css">
{{ end }}