{{ define "main" }}
    <main>
        <div class="padding">
            <div class="padding-sub">
                {{ range .Containers }}
                <div class="container">
                    <img style="height: 100px;" src="/static/images/web-icons/docker.svg" alt="">
                    <div class="ct-data">
                        <table>
                            <div style="font-size: 0.8em;">
                                id: {{ .ID }}
                            </div>
                            <tr>
                                <th>Name</th>
                                <td> {{ .Names }}</td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td> {{ .Image }}</td>
                            </tr>
                            <tr>
                                <th>Uptime</th>
                                <td> {{ .Status }}</td>
                            </tr>
                            <tr>
                                <th>Live</th>
                                <td> {{ .RunningFor }}</td>
                            </tr>
                            <tr>
                                <th>Size</th>
                                <td> {{ .Size }}</td>
                            </tr>
                            <tr>
                                <th>Networks</th>
                                <td> {{ .Networks }}</td>
                            </tr>
                            <tr>
                                <th>Created</th>
                                <td> {{ .CreatedAt }}</td>
                            </tr>
                          </table> 
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
    </main>
{{ end }}

{{ define "styles" }}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/docker.css">
{{ end }}