{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desky - {{template "tab-name" .}}</title>
    {{template "styles"}}
    <style>
        body {background-image: url("/static/images/{{.Background}}");}
    </style>
</head>
<body>
    <header>
        <div class="header">
            <H1>
                <i class="fa fa-server" aria-hidden="true"></i>
                {{.Host}}
            </H1>
            <ul>
                <li>
                    <a href="/dashboard/panel">
                        <img width="15px" height="15px" src="/static/images/web-icons/shell.svg">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/dashboard/docker">
                        <img width="15px" height="15px" src="/static/images/web-icons/docker.svg">
                        Docker
                    </a>
                </li>
                <li>
                    <a href="/dashboard/proxmox">
                        <img width="15px" height="15px" src="/static/images/web-icons/proxmox.svg">
                        Proxmox
                    </a>
                </li>
                <li>
                    <a href="/dashboard/monitor">
                        <img width="15px" height="15px" src="/static/images/web-icons/monitor.svg">
                        Monitor
                    </a>
                </li>
                <li>
                    <a href="/dashboard/tty">
                        <img width="15px" height="15px" src="/static/images/web-icons/terminal.svg">
                        TTY
                    </a>
                </li>
                {{ if .Auth }}
                <li id="logout">
                    <a href="/logout">Log Out</a>
                </li>
                {{ end }}
            </ul> 
        </div>
    </header>
        {{template "main" .}}
    <footer>
        <div class="footer">
            Desky
            <a href="https://github.com/eterline/desky">
                <img src="/static/images/web-icons/github.svg">
            </a>
        </div>
    </footer>
</body>
</html>
{{ end }}