<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/public/favion.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desky - Log In</title>
    <link rel="stylesheet" href="/public/login.css">
    <style>
        body {background-image: url("/public/login.gif");}
    </style>
</head>
<body>
    <div class="main">
        <div class="login">
            <H2>Desky</H2>
            <form action="login" method="POST">
                <label>Log In</label>
                <input type="text" name="username" placeholder="User" required=""> 
                <input type="password" name="password" placeholder="Password" required="">
            
                <button type="submit">Login</button>
            </form>
        </div>
        <a href="https://github.com/eterline/desky">ver 1.0</a>
    </div>
</body>
</html>

{{ define "tab-name" }}
Login
{{ end }}