{{ define "main" }}
<main>
    <div class="padding">
        <div id="systemd">
            <div class="scroll">
                {{ range .Systemd }}
                    <div class="unit">
                        {{ .Unit }}
                        {{ if eq .State "enabled" }}
                            <div style="color: green;">State: {{ .State }}</div>
                        {{ end }}
                        {{ if eq .State "alias" }}
                            <div style="color: green;">State: {{ .State }}</div>
                        {{ end }}
                        {{ if eq .State "static" }}
                            <div style="color: rgb(102, 0, 128);">State: {{ .State }}</div>
                        {{ end }}
                        {{ if eq .State "disabled" }}
                            <div style="color: rgb(128, 0, 0);">State: {{ .State }}</div>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
            <div id="system">
                <div class="scroll">
                    <div class="module">
                        <div class="module-title">
                                [{{ .Info.CPU.Model }}]
                        </div>
                        <div id="cpu-cores">
                                <div>Cores {{ .Info.CPU.Cores }}</div>
                                <div>Threads {{ .Info.CPU.Threads }}</div>
                        </div>
                        <div id="cpu-freq">Frequency: {{ .Info.CPU.Speed }}-MHz</div>
                    </div>
                    <div class="module">
                        <div class="module-title">
                            [{{ .Info.Memory.Type }} RAM]
                        </div>
                        <div id="mem-param">
                            <div>Speed {{ .Info.Memory.Speed }}-MHz</div>
                            <div>Size {{ .Info.Memory.Size }}-MB</div>
                        </div>
                    </div>
                    <div class="module">
                        <div class="module-title">
                            [Motherboard]
                        </div>
                        <div class="module-data">Name: <a href="https://www.google.com/search?q={{ .Info.Board.Vendor }} {{ .Info.Board.Name }}">{{ .Info.Board.Name }}</a></div>
                        <div class="module-data">Serial: {{ .Info.Board.Serial }}</div>
                        <div class="module-data">Vendor: {{ .Info.Board.Vendor }}</div>
                        <div class="module-data">Version: {{ .Info.Board.Version }}</div>
                    </div>
                    <div class="module">
                        <div class="module-title">
                            [BIOS]
                        </div>
                        <div class="module-data">Vendor: {{ .Info.BIOS.Vendor }}</div>
                        <div class="module-data">Version: {{ .Info.BIOS.Version }}</div>
                        <div class="module-data">Release: {{ .Info.BIOS.Date }}</div>
                    </div>
                    <div class="module">
                        <div class="module-title">
                            [OS]
                        </div>
                        <div class="module-data">Name: {{ .Info.OS.Name }}</div>
                        <div class="module-data">Architecture: {{ .Info.OS.Architecture }}</div>
                        <div class="module-data">OS Version: {{ .Info.OS.Version }}</div>
                    </div>
                </div>
            </div>
        <div id="disks">
            <div class="scroll">
                {{ range .Info.Storage }}
                <div class="disk">
                    <div class="model">
                        [<span>{{ .Name }}</span>]: <a href="https://www.google.com/search?q={{ .Model }}">{{ .Model }}</a>
                    </div>
                    <div class="serial">
                        Serial: {{ .Serial }}
                    </div>
                    <div class="size">Size: {{ .Size }} MB</div>
                    <div>
                        <H3>SMART</H3>
                        <div class="disk-data">Temperature: {{ (index $.Smarts .Name).Temperature }}</div>
                        <div class="disk-data">WR: {{ (index $.Smarts .Name).Written }}</div>
                        <div class="disk-data">RD: {{ (index $.Smarts .Name).Read }}</div>
                        <div class="disk-data">Hours: {{ (index $.Smarts .Name).PowerOnHours }}</div>
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
    </div>
</main>
{{ end }}

{{ define "styles" }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
<link rel="stylesheet" href="/static/css/monitor.css">
{{ end }}

{{ define "tab-name" }}
Monitor
{{ end }}