{{ define "main" }}
    <main>
        <div class="virt">
            {{ range .LXCs }}
                <div>
                    <img width="100px" height="100px" src="/static/images/web-icons/lxc.svg" alt="LXC">
                    {{ template "virt-dev" .}}
                    <div class="buttons">
                        {{ template "reboot-lxc" .}}
                        {{ if eq .Status "running"}}
                            {{ template "shutdown-lxc" .}}
                        {{else}}
                            {{ template "start-lxc" .}}
                        {{ end }}
                    </div>
                    
                </div>
            {{ end }}

            {{ range .VMs}}
                <div>
                    <img width="100px" height="100px" src="/static/images/web-icons/vm.svg" alt="VM">
                    {{ template "virt-dev" .}}
                    <div class="buttons">
                        {{ template "reboot-qm" .}}
                        {{ if eq .Status "running"}}
                            {{ template "shutdown-qm" .}}
                        {{else}}
                            {{ template "start-qm" .}}
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
    </main>
    <script src="/static/scripts/proxmox.js"></script> 
{{ end }}

{{ define "styles" }}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/proxmox.css">
{{ end }}

{{ define "tab-name" }}
Proxmox
{{ end }}


{{ define "virt-dev" }}
<div class="virt-dev">
    <div class="data-param" style="background-color: black;">
        <H2 style="text-align: center; color: white;">[{{ .Name }}]</H2>
    </div>
    <div class="data-param">
        <span>ID:</span> {{ .ID }}
    </div>
    <div class="data-param">
        {{ if eq .Status "running"}}
            <div style="color: greenyellow;"><span>Status:</span> {{ .Status }}</div>
        {{else}}
            <div style="color: rgb(255, 47, 47);"><span>Status:</span> {{ .Status }}</div>
        {{ end }}
    </div>
    <div class="data-param">
        <span>vCPU:</span> {{ .CPUs }}
    </div>
    <div class="data-param">
        <span>Uptime:</span> {{ .Uptime }} sec.
    </div>
</div>
{{ end }}

{{ define "reboot-lxc" }}
    <button data-type="lxc" data-id="{{ .ID }}" class="reboot-btn">
        <i class="fa fa-refresh"></i>
    </button>
{{ end }}

{{ define "start-lxc" }}
    <button data-type="lxc" data-id="{{ .ID }}" class="start-btn act-btn" style="background-color: rgb(173, 202, 41); color: black; border-color: rgb(40, 68, 17);">
        Startup
    </button>
{{ end }}

{{ define "shutdown-lxc" }}
    <button data-type="lxc" data-id="{{ .ID }}" class="shutdown-btn act-btn" style="background-color: rgb(187, 30, 30); color: black; border-color: rgb(40, 68, 17);">
        Shutdown
    </button>
{{ end }}



{{ define "reboot-qm" }}
    <button data-type="qm" data-id="{{ .ID }}" class="reboot-btn">
        <i class="fa fa-refresh"></i>
    </button>
{{ end }}

{{ define "start-qm" }}
    <button data-type="qm" data-id="{{ .ID }}" class="start-btn act-btn" style="background-color: rgb(173, 202, 41); color: black; border-color: rgb(40, 68, 17);">
        Startup
    </button>
{{ end }}

{{ define "shutdown-qm" }}
    <button data-type="qm" data-id="{{ .ID }}" class="shutdown-btn act-btn" style="background-color: rgb(187, 30, 30); color: black; border-color: rgb(40, 68, 17);">
        Shutdown
    </button>
{{ end }}